* {
	margin: 0;
	border: none;
}

@font-face {
       font-family: Scribble;
       src: local("Scribble"), url("fonts/j.d.ttf") format("truetype");
       font-weight: normal;
       font-style: normal;
}

@font-face {
       font-family: Strassman;
       src: local("Strassman"), url("fonts/strassman-script.ttf") format("truetype");
       font-weight: normal;
       font-style: normal;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: none;
	background: url(img/bg.jpg) top center no-repeat;
	font-size: 62.5%;
}

#page-wrap {
	text-align: center;
	width: 1024px;
	position: relative;
	margin: 0 auto;
}

#logo {
	width: 300px;
	height: 95px;
	background: url(img/todo.png) no-repeat;
	float: right;
}

.rtm_task_title {
	font-family: Strassman;
	color: #000;
	font-size: 30px;
	font-weight: bold;
	display: block;
	line-height: .6em;
	padding: 8px 0;
	min-height: 24px;
}

.note-text h4 {
	vertical-align: bottom;
	text-align: left;
	font-family: Scribble;
	color: red;
	margin-bottom: 5px;
	font-size: 1.2em;
}

.rtm_note_updated_container {
	display: none;
}

#notes {
	margin-bottom: 178px;
	margin-top: 83px;
	overflow: hidden;
	width: 980px;
	height: 667px;
	margin: 0 auto;
	clear: both;
}

.note-text {
	margin-top: 5px;
	margin-left: 18px;
	margin-right: 15px;
}

.style-0 {background:url(img/notes/0.png) center center no-repeat}
.style-1 {background:url(img/notes/1.png) center center no-repeat}
.style-2 {background:url(img/notes/2.png) center center no-repeat}
.style-3 {background:url(img/notes/3.png) center center no-repeat}
.style-4 {background:url(img/notes/4.png) center center no-repeat}
.style-5 {background:url(img/notes/5.png) center center no-repeat}
.style-6 {background:url(img/notes/6.png) center center no-repeat}
.style-7 {background:url(img/notes/7.png) center center no-repeat}
.style-8 {background:url(img/notes/8.png) center center no-repeat}
.style-9 {background:url(img/notes/9.png) center center no-repeat}

.priority-1 {background:url(img/!!!.png) top left no-repeat;}
.priority-2 {background:url(img/!!.png) top left no-repeat;}
.priority-3 {background:url(img/!.png) top left no-repeat;}

.note {
	background-repeat: no-repeat;
	display: -moz-inline-stack;
	width: 225px;
	height: 206px;
	padding: -10px;
	margin: 10px;
	float: left;
}